.action-bar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: var(--border);
    background-color: var(--color-bg-secondary);
    position: relative;
}

.action-bar-items li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 0.63rem;
}

.action-bar-items li button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.action-item-icon {
    width: 18px;
    height: 18px;
}

.action-item-label {
    font-size: 11px;
    color: var(--color-text-muted);
}

.action-bar-close {
    margin-left: auto;
    margin-right: 1rem;
}
